 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
} 
.rangeContainer {
    margin-top: 20px;
    background-color: white;
}